{% extends "base.html" %}


{% block header %}
  <h3 class="text-center">{% block title %} Post Nº {{ context['id']}} {% endblock %}</h3>
{% endblock %}


<article>
    {% block content %}
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h2 class="section-heading card-title text-center">
                            {{ context['title'] }}
                        </h2>
                    </div>
                    <div class="card-body">
                        <p class="card-text text-justify">
                            {{ context['body'] }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
</article>