{% extends 'base.html' %}

{% block header %}
  <h1 class="text-center">{% block title %} Posts {% endblock %}</h1>
  {% if g.user %}
    <p class="action" href="{{ url_for('blog.create') }}">New</p>
  {% endif %}
{% endblock %}

{% block img %}
  background-image: url('{{ url_for('static', filename='img/home-bg.jpg') }}')
{% endblock %}

  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      {% block content %}
        {% for post in posts %}
          <div class="post-preview">
              <a href="{{ url_for('blog.details', id=post['id']) }}">
                <h2 class="post-title">
                    {{ post['title'] }}
                </h2>
                <h3 class="post-subtitle">
                    {{ post['subtitle'] }}
                </h3>
              </a>
              <p class="post-meta"> Postado por
                <a href=""> {{ post['username'] }}</a>
                em {{ post['created'].strftime('%d/%m/%Y') }}
              </p>
          </div>
          {% if not loop.last %}
            <hr>
          {% endif %}

        {% endfor %}
      {% endblock %}
    </div>
  </div>
