{% extends 'base.html' %}

{% block header %}
  <h1 class="text-center">{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block img %}
  background-image: url('{{ url_for('static', filename='img/linux_terminal_wallpaper.png') }}')
{% endblock %}

{% block content %}
  <form class="form-inline" method="post">
    <div class="form-group mb-3">
        <label class="sr-only" for="username">Username</label>
        <input class="form-control" name="username" id="username" required placeholder="Nome de Usuário">
    </div>
    <div class="form-group mb-3">
        <label class="sr-only" for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password" required placeholder="Senha">
    </div>
    <div class="mb-2">
        <button type="button" class="btn btn-secondary btn-sm">Small button</button>
    </div>
  </form>
{% endblock %}